.mainWrapper {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  align-items: left;
  background: #e5e0e0;
  border-radius: 16px;
  padding: 15px 10px;
  margin: 10px;
  height: 250px;
  text-align: left;
}

.nameContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
}
